<mat-dialog-content>
    <h2 mat-dialog-title>ADDING NEW SKILL TO A CATEGORY</h2>
    <form method="POST">
        <mat-form-field appearance="standard">
            <p>Skill Name</p>
            <input matInput formControlName="Name" #Name name="skillName">
        </mat-form-field>
        <mat-select>
            <mat-option>
                <button class="icon-menu-btn">
                    <p class="select-option-name">...</p>
                </button>
            </mat-option>
            <mat-option>
                <button class="icon-menu-btn">
                    <p class="select-option-name">...</p>
                </button>
            </mat-option>
        </mat-select>
        <mat-dialog-actions>
            <button mat-dialog-close class="btn btn-danger">CANCEL</button>
            <button class="btn btn-success">SUBMIT</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>