<mat-sidenav-container id="skill-container" class="h-100 gray-bg" autosize>
    <mat-sidenav class="gray-bg" mode="side" opened>
        <div id="skill-side-container" class="w-100">
            <app-skill-category-list></app-skill-category-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="skill-main-container" class="container-fluid w-100">
            <app-search-skill></app-search-skill>
            <app-skill-add-action></app-skill-add-action>
            <app-skill-list></app-skill-list>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> 
