.content-title {
    font-size: 2rem;
}

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background: #f1f1f1;
    color: #000000;
    box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px !important;
  }
  
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
  
  ::ng-deep .mat-form-field-infix {
    border: none;
  }
  
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0 0 0.75em 0;
  }
  
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px;
    padding-right: 15px;
  }
  
  ::ng-deep .mat-grid-tile .mat-figure {
    justify-content: left !important;
  }
  
  ::ng-deep .mat-flat-button {
    background: #149979;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4) !important;
    border-radius: 40px !important;
    color: #f1f1f1 !important;
    font-weight: bold;
  }
  
  form {
    margin-top: 8px;
  }
  