.header {
    background: #252626;
}

.navbar-brand img {
    width: 100%;
}

.navbar-brand {
width: 15%;
}

.navbar-brand span {
    font-size: 2rem;
    font-weight: bolder;
}

.nav-item:not(:last-child) {
    border-right: 1px solid #f1f1f1;
}

.active {
    color: #149979 !important
}